
<% if @tasks_ended.empty? %>
  <span class="text-warning">There are no tasks!</span>
<% else @tasks_ended %>
 
      <% @tasks_ended.each do |task| %>
    <ul class="tasks-list">

          <li><div class="col-md-3"><h4>Finish to: <%= task.due_date%></h4></div></li>
        
          <li><div class="col-md-3"><h4><b><%= task.title %></b></h4></div></li>
           

        
          
           <li><div class="col-md-4"><h4>Created(<%= task.created_at %>)</h4></div></li>
         
          
         
           <li> <div class="col-md-2">
          
             <%= link_to task_path(task), method: :delete, data: {confirm: 'Are you sure?'}, :remote => true, :class => 'delete_task' do %>
              <i class="fa fa-times fa-2x" aria-hidden="true""></i>
              <% end %>
           <%= link_to "", edit_task_path(task), :class => 'fa fa-cog fa-2x', :title => 'view task' %>
            
            <%= link_to "", task_path(task), :class => 'fa fa-file-text-o fa-2x', :title => 'edit' %>
    <% unless task.complited? %>          
  <%= link_to "", complete_task_path(task), :class => 'fa fa-check-square-o fa-2x', :title => 'complete'%>
<% else  %> 
  <%= link_to "", active_again_task_path(task), :class => 'fa fa-repeat fa-2x', :title => 'make active again' %>


 <% end %> 
 </div>
       </li> 
       </ul>
      <% end %>
    
 
<% end %>